
/* mobile view media query */
@media screen and (max-width: 578px){
    body {
        background-color: #ffffff;
        font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        padding: 0;
        margin: 0;
    }

    h1 {
        font-size: .6rem;
        margin-left:0;
        text-align: left;
        color:#ffffff;
    }

    h2 {
        font-size: 18px;
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 25px;
        text-align: center;
    }
    
    h3 {
        font-size: 27px;
        margin-left: 0;
        color: #17006c;
        text-align: center;
    }


    h5 {
        font-size: 20px;
        font-weight: bold;
        color: #17006c;
        margin-left: 0;
        text-align: center;
    }

    h6 {
        font-size: 18px;
        margin:auto;
    }

    header > img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .main_nav {
        z-index: 5;
        width: 100%;
        display: inline-block;
        background-color: white;
        padding-bottom: 0.2
        em;
        padding-top: .2rem;
        position: fixed;
        top: 0;
    }
    .list_item {
        font-weight: 200;
        padding-right: 15px;
        font-size: 17px;
    }
    
    li {
          list-style: none;
          float:left;
    }
    li .li_nav{
        color: #939598;
        -webkit-font-smoothing: antialiased!important;
        font-size: 1.05em;
        padding-right: .5em;
        display:block;
        line-height:50px
    }

    .main_nav ul > li:not(:first-child) {
        display: none;
    }

    .logo {
        padding-left: 2em;
        padding-right: 3em;
        position: relative;
      }
    
    nav img {
        
        width: 70px;
        height: auto;
    }
    
    a:link
    {
        text-decoration: none;
    }

    a:hover {
    
        color: #0c46aa;
    }
    
    a{
        color:#000000;
    }
    
    .text-block {
        color: white;
        margin-top: 3.5rem;
        padding-left: 0;
        padding-right: 0;
    }

    .content {
        margin-left: 0;
        text-align: left;
        color: #ffffff;
        margin-top: 19px;
        font-size: .38rem;
    }

    /* #hamburger-menu {
        width: 50px;
        height: 50px;
        display: block;
        border: none;
        padding: 0px;
        margin: 20px;
        background: linear-gradient(
          to bottom, 
          #3D0E61, #3D0E61 20%, 
          white 20%, white 40%, 
          #3D0E61 40%, #3D0E61 60%, 
          white 60%, white 80%, 
          #3D0E61 80%, #3D0E61 100%
        );
    }

    #hamburger-menu #sidebar-menu {
        visibility: hidden;
        position: fixed;
        top: 0;
        left: -250px;
        width: 200px;
        height: 100%;
        background-color: #3D0E61;
        padding: 0px 10px;
        box-sizing: border-box;
    } */
    .text-block {
        color: white;
        margin-top: 3.5rem;
        padding-left: 0;
        padding-right: 0;
    }
    .container{
        background-image: url(image/mainfraud.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 1rem;
        height: 10rem;
        width: 100%;
    }
    img {
        width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .greytext {
        color: grey;
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 38px;
        margin-top: 15px;
        text-align: center;
        font-size: 10px;
    }

    .left {
        padding-right: 1rem;
        padding-left: 1rem;
    }

    .thirdrow {
        background-color: rgb(242, 241, 241);
        padding-top: 1rem;
        padding-left: 0;
    }
  
    .checked-svg {
        height: 30px;
        width: 30px;
        filter: invert(0.5) sepia(1) saturate(5) hue-rotate(175deg);
        vertical-align: middle;
        margin-left: 100px;
    }

    #hide {
        display: none;
    }

    .list {
        font-size: 14px;
    }
    .kg-canvas {
        justify-items: center;
    }
    .gridtxt {
        color: grey;
        margin-left: 0px;
        margin-bottom: 0;
        margin-top: 10px;
        padding-bottom: 10px;
    }

    .thirdrow{
        background-color: rgb(242, 241, 241);
        padding-top: 0rem;
        padding-left: 0;
    }
    .customized {
        height: 26rem;
        margin-top: 1.5rem;
        margin-bottom: 2rem;
        display: flex;
        flex-direction: column;
    }
    .row {
        width: 100%;
        display: flex;
        text-align: center;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .forthrow {
        
        flex-direction: column;
    }
    .svg-icon {
        height: 40px;
        width: 40px;
        margin-top: 0px; 
        margin-bottom: 0px; 
        filter: invert(0.5) sepia(1) saturate(5) hue-rotate(175deg);
    }
    #contactus {
        text-align: center;
    }
    #mobileview{
        margin-top: 230px;
    }

    p{
        font-size: 10px;
    }

    div {
        flex: none;
    } 

    footer{
        
        left: 0;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    footer div {
        text-align: center;
        z-index: 1;
      }

    .lastrow{
        margin-bottom: 10px;
        margin-top: 36px;
    }
    .btn {
        background-color: #13bbea;
        border-radius: 10px;
        margin-bottom: 30px;
        padding: 10px;
        color: #ffffff;
        vertical-align: middle;
    }

}

/* tablet view media-queries */
@media screen and (min-width:579px) and (max-width: 1024px)  {
    body {
        background-color: #ffffff;
        font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        padding: 0;
        margin: 0;
    }

    h1 {
        font-size: 1rem;
        text-align: left;
        color:#ffffff;
        margin-top: 40px;
    }

    h2 {
        font-size: 18px;
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 25px;
        text-align: center;
    }
    
    h3 {
        font-size: 27px;
        margin-left: 0;
        color: #17006c;
        text-align: center;
    }

    

    h5 {
        font-size: 20px;
        font-weight: bold;
        color: #17006c;
        margin-left: 0;
        text-align: center;
    }

    h6 {
        font-size: 18px;
        margin:auto;
    }

    header > img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .main_nav {
        width: 100%;
        display: inline-block;
        background-color: white;
        padding-bottom: .5em;
        padding-top: 1.8rem;
        position: fixed;
        top:0;
      }
      
      .list_item {
        font-weight: 200;
        padding-right: 15px;
        font-size: 17px;
      }
    
      li {
          list-style: none;
          float:left;
      }
      li .li_nav{
        color: #939598;
        -webkit-font-smoothing: antialiased!important;
        font-size: 1.05em;
        padding-right: .5em;
        display:block;
        line-height:50px
      }
    
      .main_nav > ul {
        margin-top: -20px;
      }
      
      .logo {
        padding-left: 2em;
        padding-right: 3em;
        position: relative;
      }
    
    nav img {
        
        width: 70px;
        height: auto;
    }
    
    a:link
    {
        text-decoration: none;
    }
    
    a:hover {
    
        color: #0c46aa;
    }
    
    a{
        color:#000000;
    }
    
    .text-block {
        margin-top: 2.4rem;
        margin-left: 10px;
        font-size: .6rem;
        text-align: left;
        color: #ffffff;
    }

    .content {
        margin-left: 0;
        text-align: left;
        color: #ffffff;
        margin-top: 19px;
        font-size: .637rem;
    }

    /* #hamburger-menu {
        width: 50px;
        height: 50px;
        display: block;
        border: none;
        padding: 0px;
        margin: 20px;
        background: linear-gradient(
          to bottom, 
          #3D0E61, #3D0E61 20%, 
          white 20%, white 40%, 
          #3D0E61 40%, #3D0E61 60%, 
          white 60%, white 80%, 
          #3D0E61 80%, #3D0E61 100%
        );
    } */

    /* #hamburger-menu #sidebar-menu {
        visibility: hidden;
        position: fixed;
        top: 0;
        left: -250px;
        width: 200px;
        height: 100%;
        background-color: #3D0E61;
        padding: 0px 10px;
        box-sizing: border-box;
    } */
    .text-block {
        color: white;
        margin-top: 5.5rem;
        padding-left: 0;
        padding-right: 0;
    }
    .container{
        background-image: url(image/mainfraud.jpeg);
        background-position: center;
        background-size:cover;
        padding: 1rem;
        height: 18rem;
    }
    img {
        width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .greytext {
        color: grey;
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 38px;
        margin-top: 15px;
        text-align: center;
        font-size: 10px;
    }

    .left {
        padding-right: 1rem;
        padding-left: 1rem;
    }

    .thirdrow {
        background-color: rgb(242, 241, 241);
        padding-top: 1rem;
        padding-left: 0;
    }
  
    .checked-svg {
        height: 30px;
        width: 30px;
        filter: invert(0.5) sepia(1) saturate(5) hue-rotate(175deg);
        vertical-align: middle;
        margin-left: 320px;
    }

    #hide {
        display: none;
    }

    .list {
        font-size: 14px;
    }
    .kg-canvas {
        justify-items: center;
    }
    .gridtxt {
        color: grey;
        margin-left: 0px;
        margin-bottom: 0;
        margin-top: 10px;
        padding-bottom: 10px;
    }

    .thirdrow{
        background-color: rgb(242, 241, 241);
        padding-top: 0rem;
        padding-left: 0;
    }
    .customized {
        margin-top: 1.5rem;
        margin-bottom: 2rem;
        display: flex;
        flex-direction: column;
    }
    .row {
        width: 100%;
        display: flex;
        text-align: center;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .forthrow {
        
        flex-direction: column;
    }
    .svg-icon {
        height: 40px;
        width: 40px;
        margin-top: 0px; 
        margin-bottom: 0px; 
        filter: invert(0.5) sepia(1) saturate(5) hue-rotate(175deg);
    }
    #contactus {
        text-align: center;
    }
    #mobileview{
        margin-top: 30px;
    }

    p{
        font-size: 10px;
    }

    div {
        flex: none;
    } 

    footer{
        
        left: 0;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    footer div {
        text-align: center;
        z-index: 1;
      }

    .lastrow{
        margin-bottom: 10px;
        margin-top: 36px;
    }
    .btn {
        background-color: #13bbea;
        border-radius: 10px;
        margin-bottom: 30px;
        padding: 10px;
        color: #ffffff;
        vertical-align: middle;
    }

}

/* media query for desktop view */

@media screen and (min-width:1025px) {
    
    body {
    
        background-color: #ffffff;
        font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        padding: 2rem 6rem;
    }
    
    h1 {
        font-size: 2rem;
        margin-left: 20px;
        text-align: left;
        color:#ffffff;
    }
    
    h2 {
        font-size: 25px;
        margin-left: 30px;
        
    }
    
    h3 {
        font-size: 30px;
        margin-left: 20px;
        color:#17006c;
        text-align: center;
    }
    
    h5 {
        font-size: 20px;
        font-weight: bold;
        color:#17006c;
        margin-left: 30px;
    }
    
    h6 {
        font-size: 18px;
        margin: auto;
    }
    
    header > img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .main_nav {
        width: 100%;
        display: inline-block;
        background-color: white;
        padding-bottom: .5em;
        padding-top: 1.8rem;
        position: fixed;
        top:0;
      }
      
      .list_item {
        font-weight: 200;
        padding-right: 15px;
        font-size: 17px;
      }
    
      li {
          list-style: none;
          float:left;
      }
      li .li_nav{
        color: #939598;
        -webkit-font-smoothing: antialiased!important;
        font-size: 1.05em;
        padding-right: .5em;
        display:block;
        line-height:50px
      }
    
      .main_nav > ul {
        margin-top: -20px;
      }
      
      .logo {
        padding-left: 2em;
        padding-right: 3em;
        position: relative;
      }
    
    nav img {
        
        width: 70px;
        height: auto;
    }
    
    a:link
    {
        text-decoration: none;
    }
    
    a:hover {
    
        color: #0c46aa;
    }
    
    a{
        color:#000000;
    }
    
    .content {
        margin-left: 20px;
        text-align: left;
        color:#ffffff;
        margin-top: 50px;
        font-size: 1.28rem;
    }
    
    .container {
        background-image: url("image/mainfraud.jpeg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 1rem;
        height: 30rem;
    }
    
    .customized {
        height: 27.5rem;
        margin-top:2rem;
        margin-bottom:2rem;
    }
    
    .text-block {
        color: white;
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 9.5rem;
      }
    
    img {
        width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
    
    .left {
    
        margin-top: auto;
        margin-bottom: auto;
    }
    
    
    section {
    
        display: flex;
       
    }
    
    div {
        flex: 1;
    } 
    
    .greytext{
        color: grey;
        margin-left: 30px;
        margin-bottom: 30px;
        margin-top: 30px;
    }
    
    .gridtxt {
        color: grey;
        margin-left: 30px;
        margin-bottom: 30px;
        margin-top: 30px;
    }
    
    footer {
        text-align: center;
        color: #000000;
    }
    
    .thirdrow {
        background-color: rgb(242, 241, 241);
        padding-top: 2rem;
        padding-left: 1.6rem;
    }
    
    .forthrow{
        background-color: white;
    }
    
    
    .kg-canvas {
        justify-items: center;
    }
    
    .row {
        width: 100%;
        display: flex;
        text-align: center;
        flex-wrap: wrap;
    }
    
    .column {
       
        margin: 0;
        flex-basis: 50%;
    }
    
    .column img {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        
    }
    
    .svg-icon {filter: invert(65%) sepia(14%) saturate(3161%) hue-rotate(185deg) 
        brightness(103%) contrast(105%);
        height: 100px;
        width: 100px;
    }
    
    .svg-icon {
        height: 48px;
        width: 48px;
        margin-top: 2px;
        margin-bottom: 2px;
        filter: invert(0.5) sepia(1) saturate(5) hue-rotate(175deg);
    }
    
    #contactus {
        text-align: center;
    }
    
    .line{
        width: 80%;
        border-bottom: 1px solid rgb(215, 213, 213);
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        }
    
    .checkbox {
    
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .checked-svg {
        height: 30px;
        width: 30px;
        filter: invert(0.5) sepia(1) saturate(5) hue-rotate(175deg);
        vertical-align: middle;
        margin-left: 342px;
    } 
    
    .list {
       vertical-align: middle;
    }
    
    .btn {
        background-color: #13bbea;
        border-radius: 10px;
        margin-bottom: 30px;
        padding: 10px;
        color: #ffffff;
        vertical-align: middle;
    }
    
    .forthrow {
        margin-bottom: 50px;
    }
    
    #hamburger-menu, #sidebar-menu{
        display: none;
    }
    
    footer{
            
        left: 0;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    footer div {
        text-align: center;
        z-index: 1;
      }
    
    .lastrow{
        margin-bottom: 10px;
    }
    
}

/* testing */